/* HEADER */
nav{
    position: fixed;
}

.navbar {
    background: rgb(0, 187, 246);
    background: linear-gradient(130deg, rgb(0, 187, 246) 0%, rgb(34, 40, 196) 100%);
}

.nav-link:hover {
    color: #000;
}

/* BODY */
body {
    padding-top: 60px;
}

/* SLIDER IMAGENES */
.carousel-item {
    max-height: 39rem;
}

/* CARDS */
.btn:hover{
    color: #000;
}

/* COLABORE */
.btn-success {
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center !important;
}

/* FORMULARIO */
#contenedor-formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario {
    color: #3f3f3f;
}

#bg-contacto {
    position: relative;
    top: -130px;
}

#contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}

/* MEDIA QUERIES**************************************************** */

/* PANTALLA SM */
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }
    .colabore-fila {
        width: 100% !important;
        text-align: center;
    }
    #bg-contacto {
        position: relative;
        top: -110px;
    }
}


/* PANTALLA extra SM */
@media (max-width:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

