.navbar {
    background: rgb(0, 187, 246);
    background: linear-gradient(130deg, rgb(0, 187, 246) 0%, rgb(34, 40, 196) 100%);
}

/* SLIDER IMAGENES */
.carousel-item {
    max-height: 39rem;
}

/* COLABORE */
.btn-success {
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center !important;
}

/* FORMULARIO */
#bg-contacto {
    position: relative;
    top: -130px;
}
#seccion-contacto {
    background-color: 0099ff;
    min-height: 500px;
    position: relative;
}

#contenedor-formulario {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* MEDIA QUERIES**************************************************** */

/* PANTALLA SM */
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }
    .colabore-fila {
        width: 100% !important;
        text-align: center;
    }
}


/* PANTALLA extra SM */
@media (max-width:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

