* {
    scroll-behavior: smooth;
}

/* HEADER */
nav {
    position: fixed;
}

.navbar {
    background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.nav-link:hover {
    color: #000;
}

.container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* BODY */
body {
    padding-top: 60px;
}

/* BODY */

body {
    padding-top: 60px;
}

/* SLIDER IMAGENES */

.carousel-item {
    max-height: 100rem;
}

.carousel-item {
    width: 100%;
    height: max-content;

}

/* CARDS */

.titulosSecciones {
    color: dodgerblue;
    font-family: sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 3.5rem;
    padding-top: 2em;
    padding-bottom: 1rem;
    text-shadow: 4px 3px 6px rgba(71, 71, 71, 0.6);
}

.btn:hover {
    color: #000;
}

.marginBody {
    margin: 4rem;
}

.card-img-top {
    width: 100%;
    height: 20vw;
}

/* COLABORE */

.btn-success {
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center !important;
}

/* FORMULARIO */

.contact {
    height: 100%;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBEE;
}

.contact__image-wrapper {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__image {
    width: 100%;
}

.contact__right-side {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 50%;
}

.contact__title {
    font-size: 100px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.contact__form-wrapper,
.contact__input-line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.contact__input-line {
    margin-bottom: 45px;
}

.contact__label {
    font-size: 18px;
    font-weight: 600;
}

.contact__input {
    height: 30px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    background-color: transparent;
}

.contact__input--textarea {
    height: 100px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    resize: none;
    background-color: transparent;
}

.contact__submit-button {
    padding: 18px 55px;
    background-color: #121212;
    border-radius: 50px;
    color: #f2f2f2;
    font-weight: 600;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.contact__submit-button:hover {
    background-color: #2e2e2e;
}


/* FOOTER */

footer {
    background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    width: 100%;
    padding: 5px 0px;
    font-family: 'Nunito', sans-serif;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.box__footer .logo img {
    width: 150px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2 {
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    font-size: 1, 5em;
}

.box__footer a:hover {
    opacity: 0.3;
}

.box__footer p {
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    font-size: 1, 5em;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #000;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #000;
}


/* MEDIA QUERIES**************************************************** */

/* PANTALLA SM */
@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }

    .colabore-fila {
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto {
        position: relative;
        top: -110px;
    }

    .card-img-top {
        width: 100%;
        height: 30vw;
    }

    .contact__title {
        font-size: 50px;
        font-family: 'Bellefair', serif;
        margin-bottom: 70px;
        text-transform: uppercase;
        text-align: center;
    }

    .contact__image {
        width: auto;
        height: auto;
    }

    .contacto {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .contact__submit-button {
        padding: 10px 20px;
        background-color: #121212;
        border-radius: 50px;
        color: #f2f2f2;
        font-weight: 600;
        border: none;
        font-size: 18px;
        cursor: pointer;
        align-items: center;
        text-align: center;
    }
}


/* PANTALLA extra SM */
@media (max-width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .container-fluid {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .card-img-top {
        width: 100%;
        height: 30vw;
    }

    .contact__title {
        font-size: 30px;
        font-family: 'Bellefair', serif;
        margin-bottom: 70px;
        text-transform: uppercase;
        text-align: center;
    }

    .contact__image {
        width: auto;
        height: auto;
    }

    .contacto {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .contact__submit-button {
        padding: 8px 12px;
        background-color: #121212;
        border-radius: 50px;
        color: #f2f2f2;
        font-weight: 600;
        border: none;
        font-size: 18px;
        cursor: pointer;
        align-items: center;
    }
}